@inject Microsoft.AspNetCore.Identity.UserManager<AppUser> userManager
@using Penlog.Entities
@inject Penlog.Data.Repository.IRepository.IUnitOfWork unit
@{
    var isAuthenticated = User.Identity.IsAuthenticated;
    var isAdmin = User.IsInRole("Admin");

    var user = userManager.GetUserAsync(User).Result;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Penlog</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Penlog.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="row">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
                <div class="container">
                    <div class="col-7">
                        <div class="container">
                            <ul class="navbar-nav flex-grow-1">
                                <a class="navbar-brand p-0" asp-area="" asp-page="/Index">
                                    <img src="/images/brand/Group 4.svg" width="41" height="46" alt="Alternate Text" />
                                </a>

                                @if (isAuthenticated)
                                {
                                    <li class="nav-item mx-1">
                                        <a class="nav-link btn text-dark" asp-area="" asp-page="/Users/Profile" asp-route-id="@userManager.GetUserAsync(User).Result.Id">Profile</a>
                                    </li>
                                    <li class="nav-item mx-1">
                                        <a class="nav-link btn text-primary" asp-area="" asp-page="/Posts/Create">Write a post</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item mx-1">
                                        <a class="nav-link btn text-primary" asp-area="Identity" asp-page="/Account/Login">Write a post</a>
                                    </li>
                                }
                                @if (isAuthenticated && isAdmin)
                                {
                                    <li class="nav-item mx-1">
                                        <a class="nav-link btn text-dark" asp-area="" asp-page="/Admin/Index">Admin</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-5">
                        @{
                            string searchString = "";
                        }
                        <ul class="navbar-nav flex-grow-1">
                            <form id="searchForm">
                                <div class="input-group mb-3">
                                    <input id="searchBox" asp-for="@searchString" size="35" class="form-control" placeholder="Search topics, categories, podcasts, authors...">
                                    <button type="submit" asp-page="/Search" asp-route-searchString="@searchString" class="btn btn-outline-secondary">
                                        <img src="~/icons/search.svg" alt="Alternate Text" />
                                    </button>
                                </div>
                            </form>
                            @if (isAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">
                                        @await Component.InvokeAsync("ProfileImage", new { profileUser = user, widthAndHeight = 30 })
                                        @User.Identity.Name
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-outline-danger text-dark" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-primary text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
                <div class="container">
                    <div class="col">
                        <div class="container">
                            <ul class="navbar-nav flex-grow-1">
                                @{
                                    if (isAuthenticated)
                                    {
                                        var categories = new List<Category>();
                                        foreach (var fc in unit.FavoriteCategories.Find(fc => fc.UserId == user.Id).ToList())
                                        {
                                            categories.Add(unit.Categories.Get(fc.CategoryId));
                                        }

                                        foreach (var category in categories)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link btn text-light" href="/Category/@category.Id">@category.Title</a>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        @foreach (var category in unit.Categories.Find(c => c.Posts.Count() != 0).Take(5).ToList())
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link btn text-light" href="/Category/@category.Id">@category.Title</a>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/kvyv6ordewdtrveugtpgk2hymloiapt8zom3tbc1v71vtavo/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>