@inject Microsoft.AspNetCore.Identity.UserManager<AppUser> userManager
@using Penlog.Entities
@inject Penlog.Data.Repository.IRepository.IUnitOfWork unit
@{
    var isAuthenticated = User.Identity.IsAuthenticated;
    var isAdmin = User.IsInRole("Admin");

    var user = userManager.GetUserAsync(User).Result;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Penlog</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Penlog.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="row m-0 w-100">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <!-- Container wrapper -->
                <div class="container p-0">
                    <!-- Toggle button -->
                    <button data-mdb-collapse-init
                            class="navbar-toggler"
                            type="button"
                            data-mdb-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>

                    <!-- Collapsible wrapper -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- Navbar brand -->
                        <a class="navbar-brand mt-2 mt-lg-0" asp-area="" asp-page="/Index">
                            <img src="/images/brand/Group 4.svg"
                                 height="40"
                                 alt="MDB Logo"
                                 loading="lazy" />
                        </a>
                        <!-- Left links -->
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            @if (isAuthenticated)
                            {
                                if (isAdmin)
                                {
                                    <li class="nav-item mx-1">
                                        <a class="nav-link btn" asp-area="" asp-page="/Admin/Index">Admin</a>
                                    </li>
                                }
                                <li class="nav-item mx-1">
                                    <a class="nav-link btn text-primary" asp-area="" asp-page="/Posts/Create">Write a post</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item mx-1">
                                    <a class="nav-link btn text-primary" asp-area="Identity" asp-page="/Account/Login">Write a post</a>
                                </li>
                            }
                        </ul>
                        <!-- Left links -->
                    </div>
                    <!-- Collapsible wrapper -->
                    <!-- Right elements -->
                    <div class="d-flex align-items-center">
                        <!-- Search -->
                        @{
                            string searchString = "";
                        }
                        <form id="searchForm" class="input-group w-auto me-3">
                            <input type="search" asp-for="@searchString"
                                   class="form-control rounded"
                                   placeholder="Search topics, categories, authors..."
                                   aria-label="Search"
                                   aria-describedby="search-addon"
                                   size="35" />

                            <button type="submit" asp-page="/Search" asp-route-searchString="@searchString" class="input-group-text border-0">
                                <img src="~/icons/search.svg" alt="Alternate Text" />
                            </button>
                        </form>

                        <!-- Avatar -->
                        @if (isAuthenticated)
                        {
                            <div class="dropdown">
                                <a data-bs-toggle="dropdown"
                                   class="dropdown-toggle d-flex align-items-center hidden-arrow"
                                   id="navbarDropdownMenuAvatar"
                                   aria-expanded="false">
                                    @await Component.InvokeAsync("ProfileImage", new { profileUser = user, widthAndHeight = 30 })
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-page="/Users/Profile" asp-route-id="@userManager.GetUserAsync(User).Result.Id">Profile</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-page="/FavoriteCategories">Favorite Categories</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                                            Manage
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-danger" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <a type="button" class="btn btn-link px-3 me-2" asp-area="Identity" asp-page="/Account/Login">
                                Login
                            </a>
                            <a type="button" class="btn btn-primary me-3" asp-area="Identity" asp-page="/Account/Register">
                                Sign up
                            </a>
                        }
                    </div>
                    <!-- Right elements -->
                </div>
                <!-- Container wrapper -->
            </nav>
            <!-- Navbar -->
        </div>
        <div class="row m-0 w-100">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow">
                <div class="container p-0">
                    <div class="col">
                        <ul class="navbar-nav flex-grow-1">
                            @{
                                var popularCategories = unit.Categories.Find(c => c.Posts.Count() != 0).Take(5).ToList();
                                if (isAuthenticated)
                                {
                                    var categories = new List<Category>();
                                    foreach (var fc in unit.FavoriteCategories.Find(fc => fc.UserId == user.Id).ToList())
                                    {
                                        categories.Add(unit.Categories.Get(fc.CategoryId));
                                    }

                                    if (categories.Count == 0)
                                    {
                                        foreach (var category in popularCategories)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link btn text-light" href="/Category/@category.Id">@category.Title</a>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var category in categories)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link btn text-light" href="/Category/@category.Id">@category.Title</a>
                                            </li>
                                        }
                                    }
                                }
                                else
                                {
                                    foreach (var category in popularCategories)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link btn text-light" href="/Category/@category.Id">@category.Title</a>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/kvyv6ordewdtrveugtpgk2hymloiapt8zom3tbc1v71vtavo/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>