@page
@using Penlog.Utility;
@using Microsoft.AspNetCore.Identity;
@using Penlog.Model.Entities;
@inject UserManager<AppUser> userManger
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container px-0">
    <div class="col-9 mx-0">
        @foreach (var post in Model.Posts)
        {
            <div class="row">
                <div class="card my-3">
                    <div class="card-body">
                        <a asp-page="Post" asp-route-id="@post.Id" class="text-decoration-none link-dark">
                            <h5 class="card-title">@post.Title</h5>
                            <p class="card-text text-secondary">@Html.Raw(post.Content.ShortenString(30))</p>
                        </a>
                        <br />
                        @{
                            string imageBase64Data = string.Empty;
                            string imageDataUrl = "default-profile.jpg";

                            if (post.Author.ProfileImage != null)
                            {
                                imageBase64Data = Convert.ToBase64String(post.Author.ProfileImage.Bytes);
                                imageDataUrl = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
                            }
                        }
                        <a asp-page="/Users/Profile" asp-route-id="@post.AuthorId" class="text-decoration-none text-dark fw-bold">
                            @if (imageDataUrl == "default-profile.jpg")
                            {
                                <img src="~/images/@imageDataUrl" width="30" height="30" style="border-radius:50%;" alt="Alternate Text" />
                            }
                            else
                            {
                                <img src="@imageDataUrl" width="30" height="30" style="border-radius:50%;" alt="Alternate Text" />
                            }
                            <span style="font-size:.85rem;">@post.Author.UserName</span>
                        </a>
                        <p style="font-size:.85rem;" class="text-secondary my-0">Last Updated: @((post.LastUpdated == null) ? post.CreatedDate : post.LastUpdated)</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-3">
    </div>
</div>
