@page
@model Penlog.Pages.Admin.Categories.IndexModel

<nav class="bg-light p-0 rounded" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="../Index">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Categories</li>
    </ol>
</nav>

<h5>Add new category</h5>
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label for="titleInput" class="form-label">Title: </label>
        <input asp-for="Category.Title" type="text" class="form-control form-control-lg" id="titleInput">
    </div>
    <div class="mb-3">
        <label for="descriptionInput" class="form-label">Description: </label>
        <textarea asp-for="Category.Description" class="form-control" id="descriptionInput" rows="3">
     </textarea>
    </div>
    <button type="submit" class="btn btn-primary" asp-page-handler="Add">Create</button>
</form>
<br />
<hr />

<h5>All categories</h5>
<div class="container m-0">
    <div class="row">
        <div class="col-6 p-0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;
                        foreach (var category in Model.Categories)
                        {
                            <tr>
                                <th scope="row">@(i++)</th>
                                <td>
                                    <a asp-page="Details" asp-route-categoryId="@category.Id" class="text-decoration-none text-dark">@category.Title</a>
                                </td>
                                <td>
                                    <form method="post" class="d-inline m-0">
                                        <button asp-page-handler="Delete" asp-route-categoryId="@category.Id" class="p-0 border-0 bg-transparent text-danger text-decoration-none p-1">Delete</button>
                                    </form>
                                </td>
                                <td>
                                    <a asp-page="Edit" asp-route-id="@category.Id" class="text-secondary text-decoration-none p-1 m-0">Edit</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}