@model Penlog.ViewModels.FollowVM
@inject Microsoft.AspNetCore.Identity.UserManager<Penlog.Model.Entities.AppUser> UserManager
@inject Penlog.Data.Repository.IRepository.IUnitOfWork unit
@{
    var user = UserManager.GetUserAsync(User).Result;
    var follow = unit.Follows.Find(f => f.FollowerId == Model.FollowerId && f.FollowingId == Model.FollowingId)
        .FirstOrDefault();
}
<form method="post" class="d-inline">
    @if (follow != null)
    {
        <button type="submit" asp-page-handler="UnFollow"
                asp-route-postId="@Model.PostId"
                asp-route-followerId="@user.Id"
                asp-route-followingId="@Model.FollowingId"
                class="btn btn-outline-secondary p-1">
            Following
        </button>
    }
    else
    {
        <button type="submit" asp-page-handler="Follow"
                asp-route-postId="@Model.PostId"
                asp-route-followerId="@user.Id"
                asp-route-followingId="@Model.FollowingId"
                class="btn btn-primary p-1">
            Follow
        </button>
    }
</form>